body{
    font-family: 'Poppins', sans-serif;
}
section{
    height: 500px;
    padding-bottom: 150px;
}

.logo{
    height: 20%%;
    width:25%;
    float:left;
}

h1{
    color: orange;
}
.text-color{
    color: rgb(116, 197, 197);
}
.half-width{
    float:left;
    width:40%;
    margin-left: 5%;
    padding:2%;
}
.panda-card{
    border:0;
    border-radius:40px;
}
.panda-card-footer{
    border:0;
    background-color:green;
}
